version: '3'

services:
  app:
    build: .
    ports:
      - '8000:8000'
    depends_on:
      - kafka
    volumes:
      - .:/app
    networks:
      - zenskar

  kafka:
    image: 'confluentinc/cp-kafka:6.2.0'
    ports:
      - '9092:9092'
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://192.168.1.2:9092"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      ALLOW_AUTO_CREATE_TOPICS: "true"
    depends_on:
      - zookeeper
    networks:
      - zenskar

  zookeeper:
    image: 'zookeeper:3.6.2'
    ports:
      - '2181:2181'
    networks:
      - zenskar

networks:
  zenskar:
    driver: bridge
